/*header style*/
.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  margin-bottom: solid;
}

.logo{
  color: MediumAquamarine;
  display: inline;
}

.nav {
display: inline-block;
}
