body {
  font-family: Verdana;
  color: black;
  font-size: 16px;
  margin-left: 1px;
  width: 1020px;
}

/*header style*/
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
  border-bottom: 1px solid black;
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
}

.logo {
  width: 1020px;
  height: auto;
  display: inline-flex;
  align-items: center;
  align-content: center;
  padding-left: 20px;
  flex-grow: 1;
  flex-shrink: 2;
}

.logo img {
  display: inline-flex;
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
  width: 250px;
  height: auto;
  padding-right: 20px 10px;
  display: inline-block;
}

.nav {
  padding right: 60px;
  margin-right: 40px;

}
.nav span {
  padding: 20px 10px;
  display: inline-block;
}

.nav a {
  color: inherit;
}
/*content area*/
.container {
  display: flex;
  width: 1020;
  border: 1px solid black;
  flex-grow: 1;
  padding-top: 40px;
}

.large {
  width: 630px;
  margin-right: 10px;
  margin-top: 40px;
  display: flex;
  border: 1px solid black;
  flex-direction: column;
}

.medium {
  width: 300px;
  border: 1px solid black;
  margin-left: 10px;
  margin-top: 40px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.small {
  width: 240px;
  margin-left: 10px;
  margin-top: 40px;
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  margin-right: 32px;
}

.news-bites {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 60px;
  align-items: center;
  justify-content: flex-start;
}

.bites {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 300px;
  align-items: center;
  justify-content: flex-start;
}

.mainstory {
  display: flex;
  margin-top: 40px;
  margin-right: 10px;
  border: 1px solid black;
  flex-direction: column;
  width: 630px;
  text-align: left;
  justify-content: center;
}

.story-content {
  border: 1px solid black;
}

.secondarystories {
  display: flex;
  border: 1px solid black;
  width: 630px;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 16px;
  color: black
}

.story-image-1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  background-repeat: no-repeat;
  display: flex;
  width: 630px;
  text-align: left;
  font-weight: bold;
  font-size: 40px;
  color: white;
  flex-direction: column;
  justify-content: flex-start;
}

.story-image-2 span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 300px;
  margin-bottom: 16px;
}

.story-image-3 span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 300px;
  margin-bottom: 16px;
}

.story-image-4 span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 300px;
  margin-bottom: 16px;
}

.story-image-2 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  background-repeat: no-repeat;
  display: flex;
  width: 315px;
}

.story-image-3 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  background-repeat: no-repeat;
  display: flex;
  width: 315px;
}

.story-image-4 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  background-repeat: no-repeat;
  display: flex;
  width: 300px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.storyline {
  display: flex;
  margin-top: 16px;
  margin-right: 10px;
  width: 300px;
  flex-direction: column;
}

.mainstory .storyline {
  display: flex;
  width: 630px;
}

.small img {
  height: 240px;
  width: 240px;
  display: flex;
}

.new-bites-h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.news-bites .bites {
  display: block;
  padding: 10px 20px;
  background-color: whitesmoke;
  font-family: Verdana;
  font-size: 12px;
  color: dimgray;
}
.medium .story-content {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
