body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: "header""main""footer";
    margin: 0 auto;
    font-family: 'verdana', 'sans-serif';
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

@media all and (-ms-high-contrast:none) {
    body {
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 5fr 1fr;
    }

}

.container {
    margin: 0 auto; 
}


h1, h2, h3 {
    margin: auto;
}

p {
    text-align: left;
    line-height: 1.5em;
    margin-right: 1.2em;
}

header {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    grid-template-areas: "branding navbar";
    grid-area: header;
    width: 100%;
    height: 10vh;
    background: white;
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 2;
    padding: 2em 4em;
}

.branding {
    grid-area: branding;
    display: flex;
    flex-flow: row;
}

.logo {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
}

.logo img {
    padding-right: 1em;
    
}

.logo div {
    font-weight: bold;
    font-size: 1.2em; 
}

.navigation {
    grid-area: navbar;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2em;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 2em;
}

.navbar ul li {
    list-style: none;
    padding-right: 2em;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 1.2em; 
}


main {
    display: grid;
    grid-template-columns: 1.4fr 0.9fr 0.7fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left middle right";
    grid-area: main;
    max-width: 90%;
    height: auto;
    margin: 0em auto;
}

.left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "mainstory""sub-story";
    grid-area: left;
    padding-right: 1em;
    margin-right: 1em;
    text-align: left;
}

.mainstory {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "mainstory";
    grid-area: mainstory;
    position: relative;
    text-align: center;
    width: 100%;
}

.main-header {
    position: absolute;
    width: 90%;
    color: white;
}

.sub-story {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "story1 story2";
    grid-area: sub-story;
}

.story1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "story1";
    grid-area: story1;
    position: relative;
}

.story2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "story2";
    grid-area: story2;
    position: relative;
}

.story1 div {
    position: absolute;
    top: 50%;
    left: 2%;
    color: white;
    font-weight: bold;
}

.story2 div {
    position: absolute;
    top: 50%;
    left: 2%;
    color: white;
    font-weight: bold;
}

.middle {
    grid-area: middle;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "story3""story4";
    padding-right: 1em;
    margin-right: 1em;
}

.story3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "story3";
    position: relative;
}

.story4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "story4";
    position: relative;
}

.right {
    grid-area: right;
}

footer {
    grid-area: footer;
    margin-top: 0 auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background: MediumAquamarine;
    height: 5vh;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.fmenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.footer nav ul{
    display: flex;
    flex-direction: row;
}

.footer nav ul li {
    list-style: none;
}

.footer nav ul li a {
    padding-right: 2em;
}

.ftitle {
    border-right: 3px solid white;
    padding-right: 1em;
}

.copyright {
    display: flex;
    flex-flow: column;
}
