body {
  font-family: Verdana;
  color: black;
  font-size: 16px;
}

/*header style*/
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
  border-bottom: 1px solid black;
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
}

.logo {
  width: auto;
  height: auto;
  display: inline-flex;
  align-items: center;
  align-content: center;
  padding-left: 20px;
  flex-grow: 1;
  flex-shrink: 2;
}

.logo img {
  display: inline-flex;
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
  width: 250px;
  height: auto;
  padding-right: 20px 10px;
  display: inline-block;
}

.nav {
  padding right: 60px;
  margin-right: 40px;

}
.nav span {
  padding: 20px 10px;
  display: inline-block;
}

.nav a {
  color: inherit;
}
/*content area*/
.container {
  display: flex;
  width: 1020;
  border: 1px solid black;
}

.large {
  width: 630px;
  margin-right: 10px;
  display: flex;
  border: 1px solid black;
}

.medium {
  width: 300px;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.small {
  width: 240px;
  margin-left: 10px;
  display: flex;
  border: 1px solid black;
}

.news-bites {
  display: flex;
}

.bites {
  border: 1px solid black;
}

.mainstory {
  display: flex;
  font-size: 40px;
  border: 1px solid black;
}

.story-content {
  border: 1px solid black;
}

.secondarystories {
  border: 1px solid black;
}

.story-image-1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  background-repeat: no-repeat;
  background-size: auto;
  display:flex;
}

.story-image-1 span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.storyline {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
